table{
  width:90vw;
  height:90vw;
  max-width:500px;
  max-height:500px;
 } 

button.cell {
    cursor: pointer;  /* Visually show that you can interact with the button */
    border: none;  /* Hides default border*/
    background-color: pink;
    height:100%;
    width:100%;
    max-height:100%;
    max-width:100%;
    
  }

button:hover{
   background-color:lightcoral; 
}

table{
  background:cadetblue;
}